<head><h1>Stupid Coaching</h1></head>

<body>
 <h2><%= @question %> <br>
   <em>- You</em>
 </h2>

 <h2><%= @answer %> <br>
   <em>- Your Coach</em>
 </h2>

  <a href="/ask">Ask a new question</a>
</body>